<link rel="stylesheet" type="text/css" href="css/advice.css"/>
<ion-view>
	<ion-content has-bouncing='false' >
		<ion-slide-box does-continue="true" auto-play="true">
			<ion-slide><img src="http://y.gtimg.cn/music/photo_new/T003R720x288M000001BpWXN4fwSha.jpg?max_age=2592000"/></ion-slide>
			<ion-slide><img src="http://y.gtimg.cn/music/photo_new/T003R720x288M0000021TX3h49ByVF.jpg?max_age=2592000"/></ion-slide>
			<ion-slide><img src="http://y.gtimg.cn/music/photo_new/T003R720x288M0000047oWRq40hTxF.jpg?max_age=2592000"/></ion-slide>
			<ion-slide><img src="http://y.gtimg.cn/music/photo_new/T003R720x288M000000fqQxz2Rxsaj.jpg?max_age=2592000"/></ion-slide>
			<ion-slide><img src="http://y.gtimg.cn/music/photo_new/T003R720x288M000001FuYDo1YMPVx.jpg?max_age=2592000"/></ion-slide>
		</ion-slide-box>
		<ion-list class="box">
			<h5>电台</h5>
			<ion-item>
			
			<dl ui-sref="main.list">
				<dt><img src="http://qzonestyle.gtimg.cn/music/photo/radio/track_radio_307_13_1.jpg?max_age=2592000"/><i class="left1"></i></dt>
				<dd>跑步电台</dd>
			</dl>

			<dl ui-sref="main.list">
				<dt><img src="http://qzonestyle.gtimg.cn/music/photo/radio/track_radio_199_13_1.jpg?max_age=2592000"/><i class="right1"></i></dt>
				<dd>热歌</dd>
			</dl>
			</ion-item>
		</ion-list>

			<ion-list class="box">
				<h5>热门歌单</h5>
			<ion-item>
			
			<dl ui-sref="main.list">
				<dt><img src="http://p.qpic.cn/music_cover/xO0Ebw5Vg0H4KJAdt5Rv9E69Z7c9Ofyicbk6OOrGJ5nAnKDWQOT1kcA/300?n=1&max_age=2592000"/><i class="left1"></i>
				<span></span><p>230.9万</p></dt>
				<dd>评分最高的30部电影原声集</dd>
				<dd>伊人独自垂</dd>
			</dl>

			<dl ui-sref="main.list">
				<dt><img src="http://p.qpic.cn/music_cover/VhiacR5mggSiaLuvDtyVoqZlSiaXeOjHebAFeibrsicYqhpwF3dJqKb4LcA/300?n=1&max_age=2592000"/><i class="right1"></i><span></span><p>76.4万</p></dt>
				<dd>直男都在听：IU甜美翻唱合唱精选</dd>
				<dd>zimmmming</dd>
			</dl>


			<dl ui-sref="main.list">
				<dt><img src="http://p.qpic.cn/music_cover/es8seBvc4nqicYcqhqZPAXQWmmYNia3IyFEXYZK4kR3MJtbbIz7k6SfA/300?n=1&max_age=2592000"/><i class="left1"></i>
				<span></span><p>139.9万</p></dt>
				<dd>游戏必备电音：我的游戏不可能这么带感！</dd>
				<dd>貔貅</dd>
			</dl>

			<dl ui-sref="main.list">
				<dt><img src="http://p.qpic.cn/music_cover/A0mhqDvcnmDAYwG6K9ichRgv4TIuicibfVXkckuCUicDiaQcIt4WfL91ITQ/300?n=1&max_age=2592000"/><i class="right1"></i><span></span><p>248.0万</p></dt>
				<dd>倾听林夕笔下的“得不到”</dd>
				<dd>林深时见鹿丶</dd>
			</dl>

			<dl ui-sref="main.list">
				<dt><img src="http://p.qpic.cn/music_cover/Mbno07sCmbib3CRFCbPMU6efSjx4RwiaSTXqIj80wmNicKHj67Kv9QBGg/300?n=1&max_age=2592000"/><i class="left1"></i><span></span><p>55.5万</p></dt>
				<dd>耳机检验：五种音效分类歌曲合辑</dd>
				<dd>暗黑精灵</dd>
			</dl>

			<dl ui-sref="main.list">
				<dt><img src="http://p.qpic.cn/music_cover/KZXhqWFleib6haUmPFZXatcWyfg3mx06Eiblj3smNTLRkWXZsldKpfQw/300?n=1&max_age=2592000"/><i class="right1"></i><span></span><p>10.5万</p></dt>
				<dd>那些洗脑的英文歌</dd>
				<dd>幸福的小麻花</dd>
			</dl>
			</ion-item> 
			<ion-item><a href="javascript:;" ui-sref="main.list" style="text-align:center;width:100%;">去客户端发现更多好音乐 ></a></ion-item>
			<ion-item><a href="javascript:;" style="text-align:center;width:100%;">查看电脑版网页[技术支持-daivon]</a></ion-item>
			<ion-item><a href="javascript:;" style="text-align:center;width:100%;height:0.24rem;background-size:0.82rem 0.24rem;">扣扣音乐</a></ion-item>
		</ion-list>
		<ion-footer-bar style="position:relative;background:none;text-align:center;display:block;">Copyright © 2016 - 2016 DW. All Rights </ion-footer-bar>



	</ion-content>
</ion-view>